<div #map class="map"></div>

<div class="map-legend" *ngIf="visualizationProperty() !== 'off' || selectedStopId()">
  <h4>{{ getPropertyLabel(visualizationProperty()) }}</h4>
  @for (range of legendRanges(); track range.label) {
    <div class="legend-item">
      <span class="dot" [style.background-color]="range.color"></span>
      <span>{{ range.label }}: {{ range.range }}</span>
    </div>
  }
</div>

<div class="sidebar">
  <router-outlet />
</div>

<div class="map-controls">
  <button mat-icon-button
          [color]="visualizationProperty() === 'off' ? '' : 'primary'"
          (click)="toggleVisualization()">
    <mat-icon>visibility</mat-icon>
  </button>
  <mat-form-field>
    <mat-label>Visualization</mat-label>
    <mat-select [value]="visualizationProperty()" (valueChange)="onVisualizationPropertyChange($event)">
      <mat-option value="off">Off</mat-option>
      <mat-option value="peopleOn">People Getting On</mat-option>
      <mat-option value="peopleOff">People Getting Off</mat-option>
      <mat-option value="reachablePopulationWalk">Population Within Walking Distance</mat-option>
      <mat-option value="reachablePopulationBike">Population Within Biking Distance</mat-option>
    </mat-select>
  </mat-form-field>
</div>

