<div #map class="map"></div>

<div class="map-legend">
  <h4>Legend</h4>
  <div class="legend-item">
    <span class="dot people-on"></span>
    <span>People Getting On</span>
  </div>
  <div class="legend-item">
    <span class="dot people-off"></span>
    <span>People Getting Off</span>
  </div>
  <div class="legend-item">
    <span class="dot walk"></span>
    <span>Within 30min Walk</span>
  </div>
  <div class="legend-item">
    <span class="dot bike"></span>
    <span>Within 30min Bike</span>
  </div>
</div>

<div class="sidebar">
  <router-outlet />
</div>

<div class="map-controls">
  <mat-form-field>
    <mat-label>Visualization</mat-label>
    <mat-select [value]="visualizationProperty()" (valueChange)="onVisualizationPropertyChange($event)">
      <mat-option value="off">Off</mat-option>
      <mat-option value="peopleOn">People Getting On</mat-option>
      <mat-option value="peopleOff">People Getting Off</mat-option>
      <mat-option value="reachablePopulationWalk">Population Within Walking Distance</mat-option>
      <mat-option value="reachablePopulationBike">Population Within Biking Distance</mat-option>
    </mat-select>
  </mat-form-field>
</div>

