<div class="detail-header">
  <h1 class="title">{{ stopName() }}</h1>
  <div class="header-actions">
    <button mat-icon-button (click)="editStop()" color="primary">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="removeStop()" color="warn">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="clearSelection()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>

<div class="stop-details" *ngIf="selectedStop()">
  <div class="stat-item">
    <h3>Passenger Statistics</h3>
    <div class="stat-bar">
      <div class="label">
        People getting on: {{ selectedStop().peopleOn }}
      </div>
      <div class="bar-container">
        <div class="bar"
             [ngClass]="[
               'people-on',
               getColorClass(getPercentage(selectedStop().peopleOn, maxValues().peopleOn))
             ]"
             [ngStyle]="{'width': getPercentage(selectedStop().peopleOn, maxValues().peopleOn) + '%'}">
        </div>
      </div>
    </div>
    <div class="stat-bar">
      <div class="label">
        People getting off: {{ selectedStop().peopleOff }}
      </div>
      <div class="bar-container">
        <div class="bar"
             [ngClass]="[
               'people-off',
               getColorClass(getPercentage(selectedStop().peopleOff, maxValues().peopleOff))
             ]"
             [ngStyle]="{'width': getPercentage(selectedStop().peopleOff, maxValues().peopleOff) + '%'}">
        </div>
      </div>
    </div>
  </div>

  <div class="stat-item">
    <h3>Reachable Population</h3>
    <div class="stat-bar">
      <div class="label">
        Within 30min walk: {{ selectedStop().reachablePopulationWalk }}
      </div>
      <div class="bar-container">
        <div class="bar"
             [ngClass]="[
               'walk',
               getColorClass(getPercentage(selectedStop().reachablePopulationWalk, maxValues().reachablePopulationWalk))
             ]"
             [ngStyle]="{'width': getPercentage(selectedStop().reachablePopulationWalk, maxValues().reachablePopulationWalk) + '%'}">
        </div>
      </div>
    </div>
    <div class="stat-bar">
      <div class="label">
        Within 30min bike: {{ selectedStop().reachablePopulationBike }}
      </div>
      <div class="bar-container">
        <div class="bar"
             [ngClass]="[
               'bike',
               getColorClass(getPercentage(selectedStop().reachablePopulationBike, maxValues().reachablePopulationBike))
             ]"
             [ngStyle]="{'width': getPercentage(selectedStop().reachablePopulationBike, maxValues().reachablePopulationBike) + '%'}">
        </div>
      </div>
    </div>
  </div>
</div>
