@import 'mixins';

:host {
  @include flex-column();
  gap: var(--default-gap);

  .title {
    @include title();
  }
  .subtitle {
    @include subtitle();
  }
  @include text();

  .line-item {
    @include flex-column();
    gap: var(--small-gap);
    border: 1px solid var(--highlight-color);
    border-radius: var(--border-radius);
    padding: var(--default-gap);

    .line-header {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 8px;

      .subtitle {
        margin-right: 16px;
      }

      .stops-count {
        color: var(--text-secondary);
        font-size: 14px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }

      .expand-icon {
        margin-left: auto;
        transition: transform 0.3s ease;

        &.expanded {
          transform: rotate(180deg);
        }
      }
    }

    .stop-item {
      cursor: pointer;
      padding: var(--small-gap);
      @include flex-row();
      @include flex-align(flex-start, center);
      gap: var(--small-gap);
      border-radius: var(--border-radius);
      &:hover {
        background: var(--highlight-color);
      }
      mat-icon {
        width: 14px;
        height: 14px;
        font-size: 14px;
      }
    }
  }

  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--default-gap);
  }
}

.stops-list {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
